h1{
background-color:#838080;
color:#fd010F;
font-size:3em;
}
p.fancy{
 color:#0B0B0B;
font-style: oblique; 
}
h2{
  background-color:#070101;
  color:#F4A5FB;
    font-size:3em;
 }
h3{
 background-color:#FD0303;
 color:#030000;
  font-size:3em;
 }
 p.fancy{
  color:#838080;
  font-style: bold;
 }
h4{
 background-color:#838080;
 color:#2B0E6C;
 font-size:3em;
}
