h1{
background-color:#838080;
color:#fd010F;
font-size:3em, bold, oblique;
}
p.fancy{
 color:#0B0B0B;
font-style: oblique; 
h2{
  background-color:#070101;
  color:#F4A5FB;
    font-size:3em;
}
p.fancy{
 color: #3B3030
  font-style: bold
  
